body {
    font-family: 'Lora', serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFF8DC;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 3em;
}

h2 {
    font-family: 'Marcellus SC', serif;
    color: #a81010;
}

.note-link {
    color: blue;
    text-decoration: none;
}

.note-link:hover {
    text-decoration: underline;
}

.center-container {
    text-align: center;
    margin-top: 0%;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, p {
    margin-bottom: 20px;
}

.container p {
    text-align: justify;
}

p {
    font-size: 20px;
}

.textbook {
    color: grey; /* 设置 "textbook" 为灰色 */
    cursor: not-allowed; /* 表示该项不可点击 */
}
