body {
    font-family: 'Lora', serif; /* 设置正文字体为 Lora */
    font-size: 20px; /* 设置正文字体大小为 18px */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 修改此处，使内容垂直对齐到页面的上方 */
    background-color: #FFF8DC;
}

h1 {
    font-family: 'Lora', serif;
    font-size: 3em;
}

h2 {
    font-family: 'Marcellus SC', serif;
    color: #a81010; /* 设置颜色为 #a81010 */
}

.note-link {
    color: blue; /* 设置链接颜色为蓝色 */
    text-decoration: none; /* 默认状态下移除下划线 */
}

.note-link:hover {
    text-decoration: underline; /* 鼠标悬停时添加下划线 */
}

.center-container {
    text-align: center;
    margin-top: 0%; /* 添加上边距，将内容稍微向下推 */
}

.container {
    max-width: 800px; /* 限制内容的最大宽度 */
    margin: 0 auto; /* 水平居中内容 */
    padding: 20px; /* 添加内边距，确保内容不紧贴屏幕边缘 */
}

h1, h2, p {
    margin-bottom: 20px; /* 为标题和段落添加底部边距 */
}

.container p {
    text-align: justify;
}
